<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50" >
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Article</th>
                                <th class="column-2"></th>
                                <th class="column-3">Prix</th>
                                <th class="column-4">Quantité</th>
                                <th class="column-5">Total</th>
                            </tr>

                            <tr class="table_row"  *ngFor="let detail of selectedCommandeActuelle.details"  (click)="detailSelected(detail)">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="http://localhost:8000{{detail.photoCom}}" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">couleur {{detail.couleurCom}}, taille {{detail.tailleCom}}</td>
                                <td class="column-3">{{detail.prixCom}} Fcfa</td>
                                <td class="column-4">
                                    {{detail.qteCom}}
                                </td>
                                <td class="column-5">{{detail.prixCom * detail.qteCom}}  </td>
                            </tr>

                            
                        </table>
                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        Montant : {{selectedCommandeActuelle.montantCmd}} Fcfa 
                        <span class="statutCmd"> {{selectedCommandeActuelle.statusCmd2}} </span>
                        <div class="flex-w flex-m m-r-20 m-tb-5 flex-w m-l-auto m-r-0">
                            
                            <div (click)="supprimerCommande2(selectedCommandeActuelle,selectedCommandeActuelle.details)" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Annuler la commande
                            </div>
                            
                            
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50" >
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Mes Commandes
                    </h4>

                   

                    




                    <div (click)="onSelectionerComActuelle(comActuelle)" *ngFor="let comActuelle of commandeActuelles" class="flex-w flex-t bor12 p-t-15 p-b-30" >
                        
                            {{comActuelle.dateCmd}} - {{comActuelle.statusCmd2}} - {{comActuelle.montantCmd}} Fcfa
                        
                    </div>


                    <!--
                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Coût:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                Fcfa
                            </span>
                        </div>
                    </div>

                    <button (click)="onCommander(selecteddetail)" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Commander cet Article
                    </button>
                    -->
                </div>
            </div>

        </div>
    </div>
</form>
    