

	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">

					<button (click)="TrierArticleAlphabetique()" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						Tout les produits
					</button>

					<button (click)="TrierParSous_categorie(soucCat)" *ngFor="let soucCat of sous_categories5" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						{{soucCat.libSCat}}
					</button>

					<!--
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Homme
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						Sac
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
						Chaussure
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
						Montre
					</button>
					-->
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div (click)="onShowFilter()" class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i *ngIf="btnFilterVisible1" class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i *ngIf="btnFilterVisible2" class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close "></i>
						 Filtrer
					</div>

					<div (click)="onShowSearch()" class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i *ngIf="btnSearchVisible1" class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i *ngIf="btnSearchVisible2" class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close "></i>
						Rechercher
					</div>
				</div>
				
				<!-- Search product -->
				<div *ngIf="searchVisible" class=" panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button (click)="chercherArticle()" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input type="text"  (Change)="onTxtSearchChanged($event)"  class="mtext-107 cl2 size-114 plh2 p-r-15" name="search-product" placeholder="Search" [(ngModel)]="txtSearch" >
					</div>	
				</div>
	<!--*****************************************************************************************************************-->
			<!--		<input type="text" (change)="onDesignationChanged($event)" id="designationAr" [(ngModel)]="selectedArticle.designationAr" [ngModelOptions]="{standalone: true}">
	*****************************************************************************************************************-->

				<!-- Filter -->
				<div *ngIf="filterVisible" class=" panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Trier par
							</div>

							<ul>
								<li class="p-b-6">
									<button (click)="TrierArticleAlphabetique()" class="filter-link stext-106 trans-04">
										Defaut
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticleNbreAchat()" class="filter-link stext-106 trans-04">
										meilleurs ventes
									</button>
								</li>

							<!--
									<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										produits recommandés
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										nouveauté
									</a>
								</li>
							-->

								<li class="p-b-6">
									<button (click)="TrierArticlePrixCroissant()" class="filter-link stext-106 trans-04">
										ordre croissant de prix
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticlePrixDecroissant()" class="filter-link stext-106 trans-04">
										ordre décroissant de prix
									</button>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Prix
							</div>

							<ul>
								<li class="p-b-6">
									<button (click)="TrierArticlePrixSuperieurA(-1)" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticleIntervalPrix(0,5000)" class="filter-link stext-106 trans-04">
										0 Fcfa - 5000
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticleIntervalPrix(5000,20000)" class="filter-link stext-106 trans-04">
										5000 Fcfa - 20000
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticleIntervalPrix(20000,50000)" class="filter-link stext-106 trans-04">
										20000 Fcfa - 50000
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticleIntervalPrix(50000,100000)" class="filter-link stext-106 trans-04">
										50000 Fcfa - 100000
									</button>
								</li>

								<li class="p-b-6">
									<button (click)="TrierArticlePrixSuperieurA(100000)" class="filter-link stext-106 trans-04">
										100000 Fcfa +
									</button>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>


			<div class="row isotope-grid">
				
				
				<div *ngIf="lbl_aucunArticleVisible" class=" p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					{{lbl_aucunArticle}}
				</div>

				<div *ngFor="let article of T_actuel_articles" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src= "http://localhost:8000{{article.photoAr}}" alt="IMG-PRODUCT">

							<button (click)="ajouterAuPanier2(article)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Ajouter au Panier
              </button>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{article.designationAr}}
								</a>

								<span class="stext-105 cl3">
									{{article.prixAr}} Fcfa
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
                <button (click)="ajouterAuPanier2(article)" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart">
                  <i class="zmdi zmdi-shopping-cart"></i>
                </button>
							</div>
						</div>
					</div>
				</div>





			</div>

		
		</div>
	</div>
		



<!-- </div> -->




	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="assets/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assets/images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assets/images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assets/images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assets/images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assets/images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assets/images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

























	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/banner-01.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/banner-02.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="assets/images/banner-03.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>










 <!--
    <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
 -->
 
 <!--
   mat-button	Rectangular text button w/ no elevation
mat-raised-button	Rectangular contained button w/ elevation
mat-flat-button	Rectangular contained button w/ no elevation
mat-stroked-button	Rectangular outlined button w/ no elevation
mat-icon-button	Circular button with a transparent background, meant to contain an icon
mat-fab	Circular button w/ elevation, defaults to theme's accent color
mat-mini-fab	Same as mat-fab but smaller
 -->

 <div class="container" style="margin-top: 15px; border: 1px solid black">
    <h2>list of movies</h2>
    <ul>
      <li *ngFor="let movie of movies">
          <h2 (click)="movieClicked(movie)">{{movie.title}}</h2>
      </li>
    </ul>
    <hr>
    Title <input type="text"  [(ngModel)]="selectedMovie.title" /> <br>
    Desc <input type="text"  [(ngModel)]="selectedMovie.desc" /> <br>
    Year <input type="text"  [(ngModel)]="selectedMovie.year" /> <br>
  <button *ngIf="selectedMovie.id != -1" (click)="updateMovie()">PUT</button>
  <button *ngIf="selectedMovie.id == -1" (click)="createMovie()">POST</button>
  <button *ngIf="selectedMovie.id != -1" (click)="deleteMovie()">DELETE</button>
   </div>
  
      <div class="container" style="margin-top: 15px; border: 1px solid black">
       <h2>Les SousCatégories de la semaines</h2>
  
        <div *ngFor="let sousCategorie of _SousCategorie" class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
          <mat-card class="example-card">
            
            <mat-card-header >
              
              
            </mat-card-header>
              
            <mat-card-content class="center-block ">
                <img mat-card-image style="image-resolution: 300dpi;  height: 200px; width: auto;" class="center-block" src={{sousCategorie.photoSC}}  alt={{sousCategorie.libSC}}>
  
              <p>
                {{sousCategorie.libSC}}
              </p>
            </mat-card-content>
            <mat-card-actions >
              <button mat-raised-button color="accent" class="col-md-4 bouton"> VISITER </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <!--*********************************************-->
      <div class="container" style="margin-top: 15px; border: 1px solid black">
        <h2>Les produits de la semaines</h2>
      <div *ngFor="let article of _Article" class="col-sm-6 col-md-4 col-lg-3 p-b-35 " style="display: inline-block;">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src={{article.photoA}} alt="IMG-PRODUCT">
  
            <button href="#" class="block2-btn  stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
              Quick View
            </button>
          </div>
  
  
          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <button class="stext-104 cl4 hov-cl1 trans-04 ">
                {{article.designationA}}
              </button>
  
              <span class="stext-105 cl3">
                {{article.qteA}} Fcfa
              </span>
            </div>
  
            <div class="block2-txt-child2 flex-r p-t-3">
              <button class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                icon
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--*********************************************-->
  <!--
     <div class="container" style="margin-top: 15px; border: 1px solid black">
        <h2>Les produits de la semaines</h2>
   
         <div *ngFor="let article of _Article" class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
           <mat-card class="example-card">
             
             <mat-card-header class="center-block imgMat">
               
                 <img mat-card-image class="center-block" src={{article.photoA}}  alt="produit seche cheveux">
               
             </mat-card-header>
               
             <mat-card-content>
               <p>
                 {{article.designationA}} <br>
                 quantité: {{article.qteA}}
               </p>
             </mat-card-content>
             <mat-card-actions >
               <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
               
               <button mat-raised-button class="col-md-4 bouton">SHARE</button>
             </mat-card-actions>
           </mat-card>
         </div>
       </div>
  -->
  <!--
                  <span class="espace"></span>
               -->
     <!--*********************************************************-->
       <!--
        // cool card 1  
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
          <mat-card class="example-card">
            
            <mat-card-header class="center-block imgMat">
              
                <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
              
            </mat-card-header>
              
            <mat-card-content>
              <p>
              seche cheveux de luxe
              </p>
            </mat-card-content>
            <mat-card-actions >
              <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
              <button mat-raised-button class="col-md-4 bouton">SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
  
        // cool card 2 
  
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
            <mat-card class="example-card">
              
              <mat-card-header class="center-block imgMat">
                
                  <img mat-card-image class="center-block" src="assets/img/images/31HGFpFLFuL._AC_UL180_SR296,180_.jpg" alt="produit seche cheveux">
                
              </mat-card-header>
                
              <mat-card-content>
                <p>
                 super bafle
                </p>
              </mat-card-content>
              <mat-card-actions >
                <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                <button mat-raised-button class="col-md-4 bouton">SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
              <mat-card class="example-card">
                
                <mat-card-header class="center-block imgMat">
                  
                    <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                  
                </mat-card-header>
                  
                <mat-card-content>
                  <p>
                  seche cheveux de luxe
                  </p>
                </mat-card-content>
                <mat-card-actions >
                  <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                  <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                <mat-card class="example-card">
                  
                  <mat-card-header class="center-block imgMat">
                    
                      <img mat-card-image class="center-block" src="assets/img/images/51E46z1hmRL._AC_SX184_.jpg" alt="produit seche cheveux">
                    
                  </mat-card-header>
                    
                  <mat-card-content>
                    <p>
                      je ne sais pas ce que c'est
                    </p>
                  </mat-card-content>
                  <mat-card-actions >
                    <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                    <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                  <mat-card class="example-card">
                    
                    <mat-card-header class="center-block imgMat">
                      
                        <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                      
                    </mat-card-header>
                      
                    <mat-card-content>
                      <p>
                      seche cheveux de luxe
                      </p>
                    </mat-card-content>
                    <mat-card-actions >
                      <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                      <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                    <mat-card class="example-card">
                      
                      <mat-card-header class="center-block imgMat">
                        
                          <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                        
                      </mat-card-header>
                        
                      <mat-card-content>
                        <p>
                        seche cheveux de luxe
                        </p>
                      </mat-card-content>
                      <mat-card-actions >
                        <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                        <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                      <mat-card class="example-card">
                        
                        <mat-card-header class="center-block imgMat">
                          
                            <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                          
                        </mat-card-header>
                          
                        <mat-card-content>
                          <p>
                          seche cheveux de luxe
                          </p>
                        </mat-card-content>
                        <mat-card-actions >
                          <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                          <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                    <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                        <mat-card class="example-card">
                          
                          <mat-card-header class="center-block imgMat">
                            
                              <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                            
                          </mat-card-header>
                            
                          <mat-card-content>
                            <p>
                            seche cheveux de luxe
                            </p>
                          </mat-card-content>
                          <mat-card-actions >
                            <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                            <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                      <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                          <mat-card class="example-card">
                            
                            <mat-card-header class="center-block imgMat">
                              
                                <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                              
                            </mat-card-header>
                              
                            <mat-card-content>
                              <p>
                              seche cheveux de luxe
                              </p>
                            </mat-card-content>
                            <mat-card-actions >
                              <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                              <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4 " style="display: inline-block; margin-top: 5px; margin-bottom: 5px">
                            <mat-card class="example-card">
                              
                              <mat-card-header class="center-block imgMat">
                                
                                  <img mat-card-image class="center-block" src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="produit seche cheveux">
                                
                              </mat-card-header>
                                
                              <mat-card-content>
                                <p>
                                seche cheveux de luxe
                                </p>
                              </mat-card-content>
                              <mat-card-actions >
                                <button mat-raised-button color="accent" class="col-md-4 bouton">LIKE</button>
                                <button mat-raised-button class="col-md-4 bouton">SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                        -->
        
  
      
  
   
        <button mat-raised-button color="accent">clicker ici</button>
  
  
  
  <!--
    <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/images/51fvhOSIKfL._AC_UL200_SR200,200_.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
             seche cheveux de luxe
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  -->